/* General Settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 80%;
    margin: auto;
}

/* Utility */
.m-top {
    margin-top: 10px;
}
.m-top-20 {
    margin-top: 20px;
}
.m-top-50 {
    margin-top: 50px;
}
.rounded {
    border-radius: 2.5%;
}
/* Header Settings */

#logo {
    height: 50px;
    padding-right: 20px;
    border-right: 1px solid grey;
}
header ul li {
    display: inline-block;
    color: grey;
    margin-right: 20px;
}

/* Main slide / Image Carousel */

div.main_slide {
    height: 500px;
    padding: 5%;
    background-image:   
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('img/banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dida-main {
    z-index: 10;
    color: white;
    margin-top: auto;
}
/* Float Section */
    /* display flex to stick the footer */
.flex-col {
    display: flex;
    flex-direction: column;
}


main {
    margin-bottom: 10px;
}
main div {
    margin-bottom: 10px;
    float: left;
    /* Debug*/
    background-color: aquamarine;
}
main .d-head {
    width: 100%;
    /* Debug*/
    height: 50px;   
}
/* Floating elements */
main .d-side {
    width: 20%;
    /* Debug*/
    height: 200px;  
}
main .d-main {
    width: 56%;
    margin: 0 2% 10px;
    /* Debug*/
    height: 200px;  
}

/* quasi-sticky footer, via display:float */
footer {
    margin-top:auto;
    /* Debug*/
    height: 30px;
    background-color: blueviolet;
}

/* ClearFix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }